<h1>Currencies</h1>

<table>
    <tr>
        <th>Currency</th>
        <th>Price buy</th>
        <th>Price sale</th>
    </tr>
    <% @currencies.each do |currency| %>    
    <tr>
        <th><%= currency.name %></th>
        <th><%= currency.price_buy %></th>
        <th><%= currency.price_sale %></th>
    </tr>
    <% end %>
</table>